.gradient {
    border: 10px solid transparent;
    border-image-source: linear-gradient(to right, #fe5200,#6f0000,#01263b,#00a1ab);
    border-image-slice: 2;
    margin-top: 1rem;
}


 

/* .flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
} */

 .row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  /* width: 100%; */
}
.img-container {
  height: auto;
  width: 60rem;
  margin: 0 auto;
  padding: 5px;
}

.blog-image {
  height: 100%;
  width: 100%;
}

 .blog-text-container {
  height: auto;
  width: 60rem;
  margin: 0 auto;
  padding: 5px;
}

.blog-text {
  height: 30%;
  width: 100%;
}

.blog-text-container >  h2 {
  font-size: 40px;
}
.blog-text-container >  h4 {
  margin-bottom: 5px;
}
.blog-text-container > p {
  margin: 20px 0;
}
