.gradient {
  border: 10px solid transparent;
    border-image-source: linear-gradient( to right, #fe5200,#6f0000,#01263b,#00a1ab);
    border-image-slice: 2;
    margin: 2rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 110rem;
  height: auto;
}
.contact-image-container{
  height: auto;
  width: 65rem;
  margin:0 auto;
}

.contact-image > img {
  height: 100%;
  width: 100%;
}
.contact-form-container {
  height: auto;
  width: 65rem;
  margin: 0 auto;
  padding: 5rem;
}

.contact-form {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.contact-form >  h2 {
  font-size: 40px;
}
.contact-form >  h4 {
  margin-bottom: 5px;
}
.contact-form > p {
  margin: 20px 0;
}

#name, #phone, #email{
  width: 100%;
  height: 4rem;
}

@media screen and (max-width: 799px) {
  .contact-image-container{
    display: none;
  }

  .contact-container{
    display: block;
    justify-content: none;
    width: 50rem;
  }

  .contact-form-container {
    width: auto;
  }
}